@media only screen and (min-width: 576px) and (max-width: 968px){
    header h1 {
        font-size: 1.5rem;
    }
    header h2 {
        font-size: 1.3rem;
    }
    main {
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .principle {
        height: 97%;
    }
    .principle3 {
       grid-column: 1 / span 2;
    }
    .principle img {
        height: 100%;
        width: 90%;
    }
    footer {
        font-size: 0.9rem;
    }
    p {
        height: 100%;
        padding: 1.5rem;
    }
}