@media only screen and (min-width: 34.5em) {
    nav ul {
        flex-direction: row;
    }
    h1 {
        font-size: 3rem;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    footer {
        flex-direction: row;
    }
    .separator {
        display: contents;
    }
    /* HOME MAIN */
    .logo-title {
        grid-column: 1;
        grid-row: 1;
    }
    .logo {
        grid-column: 1;
        grid-row: 2;
    }
    .purpose-title {
        grid-column: 2;
        grid-row: 1;
    }
    .purpose {
        grid-column: 2;
        grid-row: 2;
    }

    /* TARGET AUDIENCE MAIN */
    .target-audience-title {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .target-audience {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .scenarios-title {
        grid-column: 1;
        grid-row: 3;
    }
    .scenarios {
        grid-column: 1;
        grid-row: 4;
    }
    .personas-title {
        grid-column: 2;
        grid-row: 3;
    }
    .personas {
        grid-column: 2;
        grid-row: 4;
    }

    /* DESIGN MAIN */
    .color-title {
        grid-column: 1;
        grid-row: 1;
    }
    .color {
        grid-column: 1;
        grid-row: 2;
    }
    .typography-title {
        grid-column: 2;
        grid-row: 1;
    }
    .typography {
        grid-column: 2;
        grid-row: 2;
    }
}