@media screen and (min-width: 35rem) {
    /* HEADER */
    body {
        font-size: 1.1rem;
    }
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        flex-direction: row;
        border-left: 1px solid gray;
        justify-content: center;
        align-items: center;
    }
    nav ul li a {
        border: none;
    }
    .header-logo img {
        width: 100%;
    }
    .header-h1 {
        font-size: 2.2rem;
    }
    .header-social-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* GRID HOME MAIN */
    .index-main {
        grid-template-columns: repeat(4, 1fr);
    }
    /* MEETING BANNER */
    #home-meeting-banner {
        grid-column: 1/5;
        grid-row: -3;
        font-size: .9rem;
    }

    /* HERO */
    .home-hero {
        grid-column: 1/5;
        grid-row: 1;
    }
    .home-hero-h2 {
        font-size: 1.3rem;
    }
    .home-hero-join {
        font-size: 1.4rem;
    }

    /* NEWS */
    .home-news-release {
        grid-column: 1/5;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* SPOTLIGHT */
    .home-spotlight {
        grid-column: 1/5;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font: 1rem;
    }
    .home-spotlight-section1 {
        font-size: .95rem;
        margin: 1rem;
        height: auto;
    }
    .home-spotlight-section1 p {
        height: 100%;
    }
    .home-spotlight-section2 {font-size: .8rem;}
    #spotlight1 {
        grid-column: 1;
    }
    #spotlight2 {
        grid-column: 2;

    }

    /* JOIN */
    .home-join {
        grid-column: 1/5;
        grid-row: 4;
        padding: 2rem;
    }
    .home-join p {
        margin-top: 1.5rem;
    }
    .join-link {
        background-color: #008000;
        text-decoration: none;
        color: white;
        padding: .5rem 5rem .5rem 5rem;
        box-shadow: 3px 3px 5px 1px #333;
    }
    .join-link:hover {
        background-color: rgba(56, 176, 0, .9);
    }
    .hide-join {
        display: block;
    }

    /* EVENT */
    .home-event {
        grid-column: 1/4;
        grid-row: 6;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    /* WEATHER */
    .home-weather {
        grid-column: 4/5;
        grid-row: 6;
        font-size: .9rem;
    }

    /* FOOTER */
    footer {
        grid-template-columns: repeat(4, 1fr);
        font-size: 1rem;
    }
    .home-footer-logo {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        min-width: 15%;
        max-width: 15%;
    }
    .home-footer-logo img {
        width: 80%;
    }
    .footer-section1 {
        grid-column: 1/4;
        grid-row: 1;
        display: inline-flex;
        text-align: left;
        align-items: center;
    }
    .footer-section2 {
        grid-column: 4;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .footer-section3 {
        grid-column: 1/5;
        grid-row: 2;
        display: inline-flex;
        justify-content: center;
        font-size: .8rem;
    }
    .footer-section3 .lastmodified {display: none;}
    
    .footer-section4 {
        grid-column: 1/5;
        grid-row: 4;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
    }
    /* DISCOVER PAGE */
    .discover-main {
        grid-template-columns: 3fr 1fr
    }
    #lastVisit {
        grid-column: 1/3;
        grid-row: -2;
    }
    .discover-funes {
        grid-column: 1/3;
        grid-row: 1;
    }
    .discover-population {
        grid-column: 1;
        grid-row: 2;
    }
    .discover-geographic {
        grid-column: 1;
        grid-row: 3;
    }
    .discover-age {
        grid-column: 1;
        grid-row: 4;
    }
    .discover-economic {
        grid-column: 1;
        grid-row: 5;
    }
    .discover-education {
        grid-column: 1;
        grid-row: 6;
    }
    .discover-cultural {
        grid-column: 1;
        grid-row: 7;
    }
    .image-gallery {
        grid-column: 2;
        grid-row: 2/8;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .image-gallery picture {height: fit-content;}
    .image-gallery img:hover {box-shadow: 0 0 50px #333;}

    /* JOIN US */
    .join-main form fieldset {
        width: 50%;
    }

    /* DIRECTORY PAGE */
    .directory-main .grid {
        grid-template-columns: 1fr 1fr;
    }
    .directory-main .title {grid-row: 1;}
    .directory-main .menu {grid-row: 2;}
    .directory-main .list, .directory-main .grid {grid-row: 3;}

    /* CONTACT US */
    .contactus-main {
        grid-template-columns: 2fr 1fr;
    }
    .contactus-main h2 {
        grid-column: 1/3;
        grid-row: 1;
    }
    .visitus {
        grid-column: 2;
        grid-row: 2;
    }
    .pocdiv {
        grid-column: 2;
        grid-row: 3;
    }
    .contactus-main form {
        grid-column: 1;
        grid-row: 2/4;
    }
}