body {
    text-align: center;
}
/* FONTS */
header {
    font-family: 'Signika Negative', sans-serif;
}
main {
    font-family: 'Montserrat', sans-serif;
}
/* HEADER*/
nav {
    background-color: #ADD8E6;
    grid-column: 1/4;
    grid-row: 3;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, .5);
}
nav ul li.active a {
    background-color: rgba(0, 0, 0, .2);
}
nav ul li a:hover {
    background-color: #89B2C0;
}
nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #89B2C0;
}
.header-h1 {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
#todaysDate {
    grid-column: 2/3;
    grid-row: 2;
    display: flex;
    text-align: center;
    background-color: #ADD8E6;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
}
.header-logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.header-logo img {
    width: 100%;
}
.header-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-social-media img {
    width: 100%;
    min-width: 50%;
    max-width: 100%;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr;
}
main > div {
    background-color: #ADD8E6;
    margin: 1rem;
    padding: 7rem 7rem;
    text-align: center;
    border: 1px solid black;
}
.home-spotlight {
    padding: 0.4rem;
}
.home-spotlight > div {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 3rem 3rem;
    border: 1px solid black;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #89B2C0;
    text-align: center;
    padding: .5rem .5rem;
    margin-top: 1.5rem;
}
.footer-title {
    font-weight: bold;
    margin: 0;
}
.footer-address {
    margin-top: .2rem;
    margin-bottom: .8rem;
    font-style: italic;
}
.footer-email, .footer-phone-number {
    margin-bottom: 0;
    margin-top: .2rem;
}
.footer-location {
    margin-top: .7rem;
    text-decoration: none;
    color: black;
}
.footer-section2 {
    margin-bottom: 1rem;
}
.footer-section3 {
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.home-footer-logo {
    margin: 0 auto;
    width: 15%;
}
.hide-join, .hide-spotlight, .footer-section4 {
    display: none;
}
.copyright, .footer-name, .lastmodified, .footer-wdd230 {
    margin: .15rem;
}
.footer-name {
    font-weight: bold;
}

