.portal-grid{
    justify-content: center;
}
header{
    background-color: #B3CDD1;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0 0 15px 15px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 1rem;
}
.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    max-width: 25%;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 1rem;
    box-shadow: 3px 3px 3px #333;

}
main{
    font-size: 1rem;
    margin: 20px;
}
.links{
    text-align: center;
    color:black;
}
nav ul li {
    list-style-type: none;
    margin: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B3CDD1;
    gap: 5px;
    border-radius: 15px 15px 0 0;
    
}
.lastmodified{
    color: black;
    text-align: center;
    font-size: 0.6rem;
}

.copyright{
    color: black;
    font-size: 1rem;
}







